<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% messages.forEach((msg) => { %>
       <p>Text: <%= msg.text %> </p>
       <p>User: <%= msg.user %> </p>
       <p>Time: <%= msg.added %> </p>
       <hr>
    <% }) %>
  </body>
</html>
